### List 列表

In [5]:
# 翻转数组
val = [1, 2, 3, 4, 5]
val = val[::-1]
val

[5, 4, 3, 2, 1]

In [6]:
# 切片：左闭右开
p = [1, 2, 3, 4, 5]
a = p[1:2]
b = p[:2]
print(a)
print(b)

[2]
[1, 2]

In [7]:
# 切片是深拷贝！
p = [1, 2, 3, 4, 5]
s = p[:]
p[0] = 1
s
p[:] = p[:] # 修改整个列表需要加[:]!

In [8]:
# Initialize an empty list
a = []
b = [1,2,3]

# Adding 10 to end of list
a.append(10)  
print("After append(10):", a)  

# Inserting 5 at index 0
a.insert(0, 5)
print("After insert(0, 5):", a) 

# Adding multiple elements  [15, 20, 25] at the end
a.extend([15, 20, 25])  
print("After extend([15, 20, 25]):", a)
a.extend(b[:1])
print(a)

a.sort()

After append(10): [10]
After insert(0, 5): [5, 10]
After extend([15, 20, 25]): [5, 10, 15, 20, 25]
[5, 10, 15, 20, 25, 1]

In [62]:
a = ['a', 'b', 'e', 'c']
a.sort()
print(a)

['a', 'b', 'c', 'e']

### String 字符串

In [9]:
# If we need a string to span multiple lines then we can use triple quotes (''' or """).

s = """I am Learning
Python String on GeeksforGeeks"""
print(s)

s = '''I'm a 
Geek'''
print(s)

I am Learning
Python String on GeeksforGeeks
I'm a
Geek

In [10]:
s = "GeeksforGeeks"

# Reverse a string
print(s[::-1])

skeeGrofskeeG

In [11]:
# Immutability
s = "geeksforGeeks"

# Trying to change the first character raises an error
# s[0] = 'I'  # Uncommenting this line will cause a TypeError

# Instead, create a new string
# string没有append!
s = "G" + s[1:]
print(s)

GeeksforGeeks

In [12]:
# Update - replace()
s = "hello geeks"

# Updating by creating a new string
s1 = "H" + s[1:]

# replacnig "geeks" with "GeeksforGeeks"
s2 = s.replace("geeks", "GeeksforGeeks")
print(s1)
print(s2)

Hello geeks
hello GeeksforGeeks

In [13]:
# Upper and Lower
s = "Hello World"

print(s.upper())   # output: HELLO WORLD
print(s.lower())   # output: hello world

HELLO WORLD
hello world

In [1]:
# strip()
s = "   Gfg   "

# Removes spaces from both ends
print(s.strip())    

# 加入参数可以去掉固定字符
line = "   hello world  \n"
print(line.strip())    # "hello world"
print("xxhelloxx".strip("x"))  # "hello"

Gfg
hello world
hello

In [15]:
# Concatenating and Repeating Strings
s1 = "Hello"
s2 = "World"
s3 = s1 + " " + s2
print(s3)

s4 = "Hello "
print(s4 * 3)

Hello World
Hello Hello Hello

In [16]:
# f-strings
name = "Alice"
age = 22
print(f"Name: {name}, Age: {age}")

Name: Alice, Age: 22

In [17]:
# in
s = "GeeksforGeeks"
print("Geeks" in s)
print("GfG" in s)

True
False

In [68]:
# 数据类型转换

# list -> str
words = ["I", "love", "Python"]
sentence = " ".join(words)
print(sentence)   # I love Python
print(type(sentence))

# str -> str
s = "bac"
a = list(s)
print(len(s))

I love Python
<class 'str'>
3

### map  
对iterable对象（列表，字符串，range等）的每个元素进行处理

In [ ]:
# string -> int
nums = ["1", "2", "3"]
result = list(map(int, nums))
print(result)   # [1, 2, 3]

[1, 2, 3]

In [ ]:
# 对每个元素求平方
nums = [1, 2, 3, 4]
result = list(map(lambda x: x**2, nums))
print(result)   # [1, 4, 9, 16]

### Deque 队列（右进左出 先进先出）

In [18]:
from collections import deque
dq = deque([10, 20, 30])

In [19]:
# Add elements to the right
a = dq.append(40)
dq

deque([10, 20, 30, 40])

In [20]:
# Add elements to the left
dq.appendleft(5)
dq

deque([5, 10, 20, 30, 40])

In [21]:
# extend(iterable) Adds all elements from iterable to the right end of the deque.
dq.extend([50, 60, 70]) 
print("After extend([50, 60, 70]):", dq)

After extend([50, 60, 70]): deque([5, 10, 20, 30, 40, 50, 60, 70])

In [22]:
# extendleft(iterable) (reversed order)
dq.extendleft([0, 5])  
print("After extendleft([0, 5]):", dq)

After extendleft([0, 5]): deque([5, 0, 5, 10, 20, 30, 40, 50, 60, 70])

In [23]:
# remove method
dq.remove(20)
print("After remove(20):", dq)

After remove(20): deque([5, 0, 5, 10, 30, 40, 50, 60, 70])

In [24]:
# Remove elements from the right
a = dq.pop()
print(dq)
print(a)

deque([5, 0, 5, 10, 30, 40, 50, 60])
70

In [25]:
# Remove elements from the left
a = dq.popleft()  
print(a)
print("After pop and popleft:", dq)

5
After pop and popleft: deque([0, 5, 10, 30, 40, 50, 60])

In [26]:
# clear() - Removes all elements from the deque
dq.clear()  # deque: []
print("After clear():", dq)

After clear(): deque([])

### Set 集合
set() function in Python is used to create a set, which is an *unordered* collection of unique elements. Sets are *mutable*, meaning elements can be added or removed after creation. However, all elements inside a set must be *immutable*, such as numbers, strings or tuples. The set() function can take an iterable (like a list, tuple or dictionary) as input, removing duplicates automatically. Sets support various operations such as union, intersection and difference, making them useful for mathematical computations and data processing.

In [27]:
# Create
a = set() # empty
print(a)  
print(type(a))

b = [1, 2, 3, 4, 2, 3, 5]
b1 = set(b)
print(b1)

tup = (1, 2, 3, 4, 2, 3, 5)
c = set(tup)
print(c)

d = set(range(0, 11))  
print(d)

dic = {'a': 1, 'b': 2, 'c': 3}
e = set(dic) # only the keys are stored in the set
print(e)

set()
<class 'set'>
{1, 2, 3, 4, 5}
{1, 2, 3, 4, 5}
{0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10}
{'a', 'c', 'b'}

In [28]:
thisset = {"apple", "banana", "cherry"}

for x in thisset:
  print(x)

banana
cherry
apple

In [29]:
# Check if "banana" is present
thisset = {"apple", "banana", "cherry"}

print("banana" in thisset)
print("banana" not in thisset)

True
False

In [30]:
# Add items
thisset = {"apple", "banana", "cherry"}
thisset.add("orange")
print(thisset)

{'banana', 'orange', 'cherry', 'apple'}

In [31]:
# Add sets (any iterable) - Add elements from tropical into thisset:
thisset = {"apple", "banana", "cherry"}
tropical = {"pineapple", "mango", "papaya"}

thisset.update(tropical)
print(thisset)

mylist = ["kiwi", "orange"]
thisset.update(mylist)
print(thisset)

{'banana', 'apple', 'pineapple', 'cherry', 'papaya', 'mango'}
{'banana', 'apple', 'pineapple', 'kiwi', 'cherry', 'orange', 'papaya', 'mango'}

In [32]:
# Remove Item
thisset = {"apple", "banana", "cherry"}

thisset.remove("banana")
print(thisset)

thisset.discard("banana") # not error if item to remove does not exist
print(thisset)

# Remove a random item
thisset1 = {"apple", "banana", "cherry"}
x = thisset1.pop()
print(x)
print(thisset1)

thisset.clear()
print(thisset)

{'cherry', 'apple'}
{'cherry', 'apple'}
banana
{'cherry', 'apple'}
set()

In [33]:
# Union
set1 = {"a", "b", "c"}
set2 = {1, 2, 3}

set3 = set1.union(set2)
set4 = set1 | set2
print(set3)
print(set4)

set3 = {"John", "Elena"}
set4 = {"apple", "bananas", "cherry"}

myset = set1.union(set2, set3, set4)
print(myset)

{1, 2, 3, 'b', 'a', 'c'}
{1, 2, 3, 'b', 'a', 'c'}
{1, 2, 3, 'Elena', 'John', 'cherry', 'bananas', 'apple', 'b', 'a', 'c'}

In [34]:
# update() changes the original set, and does not return a new set.
set1 = {"a", "b" , "c"}
set2 = {1, 2, 3}

set1.update(set2)
print(set1)

{1, 2, 3, 'b', 'a', 'c'}

In [35]:
# intersection() method will return a new set, 
# that only contains the items that are present in both sets.
set1 = {"apple", "banana", "cherry"}
set2 = {"google", "microsoft", "apple"}

set3 = set1.intersection(set2)
print(set3)

{'apple'}

In [36]:
# Difference
set1 = {"apple", "banana", "cherry"}
set2 = {"google", "microsoft", "apple"}

set3 = set1.difference(set2)

print(set3)

{'banana', 'cherry'}

In [37]:
set1 = {"apple", "banana", "cherry"}
set2 = {"google", "microsoft", "apple"}

set3 = set1 - set2
print(set3)
# The - operator only allows you to join sets with sets,
# and not with other data types like you can with the difference() method.

{'banana', 'cherry'}

In [38]:
# difference_update()
set1 = {"apple", "banana", "cherry"}
set2 = {"google", "microsoft", "apple"}

set1.difference_update(set2)

print(set1)

{'banana', 'cherry'}

add()	 	Adds an element to the set  
clear()	 	Removes all the elements from the set  
copy()	 	Returns a copy of the set  
difference()	-	Returns a set containing the difference between two or more sets  
difference_update()	-=	Removes the items in this set that are also included in another, specified set  
discard()	 	Remove the specified item  
intersection()	&	Returns a set, that is the intersection of two other sets  
intersection_update()	&=	Removes the items in this set that are not present in other, specified set(s)  
isdisjoint()	 	Returns whether two sets have a intersection or not  
issubset()	<=	Returns True if all items of this set is present in another set  
 	<	Returns True if all items of this set is present in another, larger set  
issuperset()	>=	Returns True if all items of another set is present in this set  
 	>	Returns True if all items of another, smaller set is present in this set  
pop()	 	Removes an element from the set  
remove()	 	Removes the specified element  
symmetric_difference()	^	Returns a set with the symmetric differences of two sets  
symmetric_difference_update()	^=	Inserts the symmetric differences from this set and another  
union()	|	Return a set containing the union of sets  
update()	|=	Update the set with the union of this set and others

In [39]:
# eg. 查找不同元素

answer=[]
ans1=[]
nums1 = [1, 2, 3, 3]
nums2 = [1, 1, 2, 2]

a = set(nums1) - set(nums2)
b = set(nums2) - set(nums1)
li = [list(a),list(b)]

### Tuple 
Unlike Python lists, tuples are immutable.

In [40]:
tup = (1, 2, 3, 4, 5)

# tuples are indexed
print(tup[1])
print(tup[4])

# tuples contain duplicate elements
tup = (1, 2, 3, 4, 2, 3)
print(tup)

# cannot updating an element
# tup[1] = 100

2
5
(1, 2, 3, 4, 2, 3)

In [41]:
# Traverse through each item in the tuple
tup = (1, 2, 3, 4, 5)

for x in tup:
    print(x, end=" ")

1 2 3 4 5

In [42]:
# Concatenating above two
tup1 = (0, 1, 2, 3)
tup2 = ('python', 'geek')

print(tup1 + tup2)

(0, 1, 2, 3, 'python', 'geek')

In [43]:
# Nested tuples - a tuple inside another tuple.
tup1 = (0, 1, 2, 3)
tup2 = ('python', 'geek')

tup3 = (tup1, tup2)
print(tup3)

((0, 1, 2, 3), ('python', 'geek'))

In [44]:
# Repetition
tup = ('python',)*3
print(tup)

('python', 'python', 'python')

In [45]:
# Slicing
tup = (0 ,1, 2, 3)

print(tup[1:])
print(tup[::-1])
print(tup[2:4])

(1, 2, 3)
(3, 2, 1, 0)
(2, 3)

In [46]:
# Different datatypes
tup = ("immutable", True, 23)
print(tup)

('immutable', True, 23)

In [47]:
# Converting a list and a string into a tuple
a = [0, 1, 2]
tup = tuple(a)

print(tup)

(0, 1, 2)

In [48]:
# Single-element tuple
tup = (10, ) # Comma is important here
print(tup)  # Output: (10,)
print(type(tup))

# What if we do not use comma
tup = (10) # This an integer (not a tuple)
print(tup)  
print(type(tup))

(10,)
<class 'tuple'>
10
<class 'int'>

In [49]:
# Loop
tup = ('gfg',)

# Number of time loop runs
n = 5 
for i in range(int(n)):
    tup = (tup,)
    print(tup)

(('gfg',),)
((('gfg',),),)
(((('gfg',),),),)
((((('gfg',),),),),)
(((((('gfg',),),),),),)

index( )	Find in the tuple and returns the index of the given value where it's available  
count( )	Returns the frequency of occurrence of a specified value  
all()	Returns true if all element are true or if tuple is empty  
any()	return true if any element of the tuple is true. if tuple is empty, return false  
len()	Returns length of the tuple or size of the tuple  
enumerate()	Returns enumerate object of tuple  
max()	return maximum element of given tuple  
min()	return minimum element of given tuple  
sum()	Sums up the numbers in the tuple  
sorted()	input elements in the tuple and return a new sorted list  
tuple()	Convert an iterable to a tuple.

### 字典

In [50]:
# 创建字典
a = {}
a = dict()

In [51]:
# 添加/修改/删除字典元素

a_dict = {"HUST":"study", "WHU":"play", "ZUEL":"eat", "CCNU":"love"}

# []添加修改，有值就修改，没有就创建
a_dict["WHUT"] = "???"      # 方括号

# setdefault，key已存在就不修改，防止覆盖
a_dict.setdefault("HZAU", "farm")  # setdefault 函数

# update(dict) 添加一个dict到另一个dict
temp = {"CUG":"jewelry"}
a_dict.update(temp)  # update 函数 创建新字典并加进去
 
print(a_dict)  # {'HUST': 'study', 'WHU': 'play', 'ZUEL': 'eat', 'CCNU': 'love', 'WHUT': '???', 'HZAU': 'farm', 'CUG': 'jewelry'}

# 删除
a_dict = {'HUST': 'study', 'WHU': 'play', 'ZUEL': 'eat', 'CCNU': 'love', 'WHUT': '???', 'HZAU': 'farm', 'CUG': 'jewelry'}
del a_dict['WHUT']
print(a_dict.pop("CUG")) # 返回删除的key对应的value
print(a_dict)  # {'HUST': 'study', 'WHU': 'play', 'ZUEL': 'eat', 'CCNU': 'love', 'HZAU': 'farm'}

{'HUST': 'study', 'WHU': 'play', 'ZUEL': 'eat', 'CCNU': 'love', 'WHUT': '???', 'HZAU': 'farm', 'CUG': 'jewelry'}
jewelry
{'HUST': 'study', 'WHU': 'play', 'ZUEL': 'eat', 'CCNU': 'love', 'HZAU': 'farm'}

In [ ]:
# get()

# get，[] 和 setdefault的区别：
# get不修改字典，
# setdefault会修改字典（但会防止覆盖），
# []会真的修改
my_dict = {'name': 'Alice', 'age': 30, 'city': 'New York'}

# Key exists, no default value
value1 = my_dict.get('name')
print(f"Value for 'name': {value1}")  # Output: Value for 'name': Alice

# Key exists, with default value (which is ignored)
value2 = my_dict.get('age', 0)
print(f"Value for 'age': {value2}")   # Output: Value for 'age': 30

# Key does not exist, no default value (returns None)
value3 = my_dict.get('country')
print(f"Value for 'country': {value3}") # Output: Value for 'country': None

# Key does not exist, with default value
value4 = my_dict.get('occupation', 'Unemployed')
print(f"Value for 'occupation': {value4}") # Output: Value for 'occupation': Unemployed

In [4]:
# 访问
a_dict = {"HUST":"study", "WHU":"play", "WHUT":"???", "CCNU":"love"}
print(a_dict["WHUT"])  # ???
print(a_dict.get("ZUEL", "eat")) # key 不存在，返回 eat

print(a_dict.values()) # list
print(a_dict.keys())

???
eat
dict_values(['study', 'play', '???', 'love'])
dict_keys(['HUST', 'WHU', 'WHUT', 'CCNU'])

In [53]:
# 个数
a_dict = {'HUST': 'study', 'WHU': 'play', 'ZUEL': 'eat', 'CCNU': 'love', 'WHUT': '???', 'HZAU': 'vegetable field', 'CUG': 'jewelry'}
print(len(a_dict))  # 7

7

In [59]:
# 转数据结构

a_dict = {"HUST":"study", "WHU":"play", "WHUT":"???", "CCNU":"love"}
print(set(a_dict.values()))
print(set(a_dict.keys()))

{'???', 'play', 'love', 'study'}
{'WHUT', 'HUST', 'CCNU', 'WHU'}

dict.clear()       # 清空字典  
dict.items()       # 以列表形式返回可遍历的(key, value)元组类型数组  
dict.keys()        # 以列表形式返回字典中所有的 key  
dict.values()      # 以列表形式返回字典中所有的 value  
dict.has_key(key)  # 如果键 key 在字典中则返回 True  
key in dict        # 如果键 key 在字典中则返回 True  
dict.popitem()     # 随即返回并删除一个键值对，并以(key, value)元组方式返回

### 经典类定义

#### 二叉树

In [ ]:
class TreeNode(object):
    def __init__(self, val=0, left=None, right=None):
        self.val = val
        self.left = left
        self.right = right

### 其他库

#### all ()

In [ ]:
# Check if all items in a list are True:
mylist = [True, True, True]
x = all(mylist)
print(x)

# Check if all items in a dictionary are True:

mydict = {0 : "Apple", 1 : "Orange"}
y = all(mydict) # 迭代key，0-False, 1-True
z = all(mydict.values())
print(y)
print(z)

True
True
True

#### in

In [ ]:
# 查找元素是否是元音字母
def checkVow(c):
    vowlist = ['a', 'e', 'i', 'o', 'u']
    if c in vowlist:
        return True
    return False

In [ ]:
answer=[]
ans1=[]
nums1 = [1, 2, 3, 3]
nums2 = [1, 1, 2, 2]
for i in nums1:
    if i not in ans1 and i not in nums2:
        ans1.append(i)
answer.append(ans1)
ans2=[]
for j in nums2:
    if j not in ans2 and j not in nums1:
        ans2.append(j)
answer.append(ans2)

#### sort() & sorted()

sorted(iterable)  

内置函数，可以作用在任何可迭代对象上（list、tuple、set、dict、string...）。  

返回一个新的排序好的列表，不会改变原对象。  

返回值是排序好的 新列表。

In [ ]:
nums = [3, 1, 2]
new_nums = sorted(nums)  
print(new_nums)  # [1, 2, 3]
print(nums)      # [3, 1, 2]  原列表没变

list.sort()  

列表（list）的方法，只能用在列表上。  

就地排序（in-place），直接修改原列表，不会生成新的列表。  

返回值是 None，所以不能直接赋值。

In [ ]:
nums = [3, 1, 2]
nums.sort()       # 在原地排序
print(nums)       # [1, 2, 3]
print(nums.sort()) # None （不能这样用）

#### copy库

In [ ]:
# 深拷贝（改原数组值不影响现有值）
import copy
arr = [0, 1]
deepcp = copy.deepcopy(arr)
arr[0] = 5
deepcp

[0, 1]

#### collections - Counter

In [1]:
from collections import Counter
# Create a list of items
num = [1, 2, 2, 3, 3, 3, 4, 4, 4, 4]

# Use Counter to count occurrences
cnt = Counter(num)
print(cnt)

Counter({4: 4, 3: 3, 2: 2, 1: 1})

In [2]:
from collections import Counter
ctr1 = Counter([1, 2, 2, 3, 3, 3]) # From a list
ctr2 = Counter({1: 2, 2: 3, 3: 1}) # From a dictionary
ctr3 = Counter('hello') # From a string

print(ctr1)
print(ctr2)
print(ctr3)

Counter({3: 3, 2: 2, 1: 1})
Counter({2: 3, 1: 2, 3: 1})
Counter({'l': 2, 'h': 1, 'e': 1, 'o': 1})

#### bisect库 - 二分查找
bisect_left(a, x) ：返回第一个 >= x 的位置  
bisect_right(a, x)：返回第一个 > x 的位置

In [1]:
import bisect

a = [1, 3, 4, 7]

print(bisect.bisect_left(a, 4))  # 输出 2，因为 a[2] == 4
print(bisect.bisect_left(a, 5))  # 输出 3，要插入在 7 前面
print(bisect.bisect_left(a, 0))  # 输出 0，要插在最前面
print(bisect.bisect_left(a, 10)) # 输出 4，要插在最后面

2
3
0
4

#### 全局变量

In [ ]:
class Solution(object):
    ans = -float('inf')
    def maxPathSum(self, root):
        """
        :type root: Optional[TreeNode]
        :rtype: int
        """
        def f(i):
            if i is None:
                return 0
            left = f(i.left)
            right = f(i.right)
            v = i.val
            self.ans = max(self.ans, left + right + v)
            return max(max(left, right) + v, 0) # 如果子链上的和为负数，那么就断开这条链从父节点当起点 
        f(root)
        return self.ans

#### 数据类型之间的转换

In [3]:
# 整数除法要变成小数的话，可以把分母转换成float类型
s = 1
k = 5
s/float(k)

0.2

#### ACM模式

固定式输入 - 给定输入的数据量长度  
eg. 第一行一个整数n，第二行长度为n的整数  
5  
1 2 3 4 5

In [2]:
n = int(input())
array = list(map(int, input().split(' ')))
print(array)

[1, 2, 3, 4, 5]

不固定输入 - 一行内数量不确定  
eg. 1 2 3 4 5 6...

In [5]:
data = list(map(int, input().split()))
print(data)

[1, 2, 3, 4, 5, 6]

不固定输入 - 数据组数不确定

In [ ]:
import sys
for line in sys.stdin:
    # 先读每组第一个数（每组的数据个数）
    cnt = int(line)
    print(cnt)
    # 读下一行作为该组的具体内容
    data_line = sys.stdin.readline().strip() # strip为去掉末尾空白字符
    data = list(map(int, data_line.split()))
    print(data)

不固定输入 - 组数不定，每组数据也不定

In [ ]:
import sys
for line in sys.stdin:
    data = list(map(int, line.split()))

输出

In [6]:
print(6, end='') # print()默认换行，end参数自定义末尾符
# 注意行末的空格和换行

arr = [1,2,3,4,5]
print(' '.join(map(str, arr))) # 先转字符串，用join拼接

61 2 3 4 5

### 行测
#### 图形题
求同法则
平移 左右/上下
九宫格 - 横排/竖排规律
宝塔形状 - 两个叠加