### List 列表

In [67]:
# 翻转数组
val = [1, 2, 3, 4, 5]
val = val[::-1]
val

[5, 4, 3, 2, 1]

In [ ]:
# 切片：左闭右开
p = [1, 2, 3, 4, 5]
a = p[1:2]
b = p[:2]
print(a)
print(b)

[2]
[1, 2]

In [ ]:
# 切片是深拷贝！
p = [1, 2, 3, 4, 5]
s = p[:]
p[0] = 1
s

[1, 2, 3, 4, 5]

In [80]:
# Initialize an empty list
a = []

# Adding 10 to end of list
a.append(10)  
print("After append(10):", a)  

# Inserting 5 at index 0
a.insert(0, 5)
print("After insert(0, 5):", a) 

# Adding multiple elements  [15, 20, 25] at the end
a.extend([15, 20, 25])  
print("After extend([15, 20, 25]):", a)

After append(10): [10]
After insert(0, 5): [5, 10]
After extend([15, 20, 25]): [5, 10, 15, 20, 25]

### String 字符串

In [69]:
# If we need a string to span multiple lines then we can use triple quotes (''' or """).

s = """I am Learning
Python String on GeeksforGeeks"""
print(s)

s = '''I'm a 
Geek'''
print(s)

I am Learning
Python String on GeeksforGeeks
I'm a
Geek

In [70]:
s = "GeeksforGeeks"

# Reverse a string
print(s[::-1])

skeeGrofskeeG

In [71]:
# Immutability
s = "geeksforGeeks"

# Trying to change the first character raises an error
# s[0] = 'I'  # Uncommenting this line will cause a TypeError

# Instead, create a new string
s = "G" + s[1:]
print(s)

GeeksforGeeks

In [ ]:
# Update - replace()
s = "hello geeks"

# Updating by creating a new string
s1 = "H" + s[1:]

# replacnig "geeks" with "GeeksforGeeks"
s2 = s.replace("geeks", "GeeksforGeeks")
print(s1)
print(s2)

Hello geeks
hello GeeksforGeeks

In [73]:
# Upper and Lower
s = "Hello World"

print(s.upper())   # output: HELLO WORLD
print(s.lower())   # output: hello world

HELLO WORLD
hello world

In [ ]:
# strip()
s = "   Gfg   "

# Removes spaces from both ends
print(s.strip())

In [74]:
# Concatenating and Repeating Strings
s1 = "Hello"
s2 = "World"
s3 = s1 + " " + s2
print(s3)

s4 = "Hello "
print(s4 * 3)

Hello World
Hello Hello Hello

In [ ]:
# f-strings
name = "Alice"
age = 22
print(f"Name: {name}, Age: {age}")

In [ ]:
# in
s = "GeeksforGeeks"
print("Geeks" in s)
print("GfG" in s)

### Deque 队列（右进左出 先进先出）

In [58]:
from collections import deque
dq = deque([10, 20, 30])

In [59]:
# Add elements to the right
a = dq.append(40)
dq

deque([10, 20, 30, 40])

In [60]:
# Add elements to the left
dq.appendleft(5)
dq

deque([5, 10, 20, 30, 40])

In [61]:
# extend(iterable) Adds all elements from iterable to the right end of the deque.
dq.extend([50, 60, 70]) 
print("After extend([50, 60, 70]):", dq)

After extend([50, 60, 70]): deque([5, 10, 20, 30, 40, 50, 60, 70])

In [62]:
# extendleft(iterable) (reversed order)
dq.extendleft([0, 5])  
print("After extendleft([0, 5]):", dq)

After extendleft([0, 5]): deque([5, 0, 5, 10, 20, 30, 40, 50, 60, 70])

In [63]:
# remove method
dq.remove(20)
print("After remove(20):", dq)

After remove(20): deque([5, 0, 5, 10, 30, 40, 50, 60, 70])

In [64]:
# Remove elements from the right
a = dq.pop()
print(dq)
print(a)

deque([5, 0, 5, 10, 30, 40, 50, 60])
70

In [65]:
# Remove elements from the left
a = dq.popleft()  
print(a)
print("After pop and popleft:", dq)

5
After pop and popleft: deque([0, 5, 10, 30, 40, 50, 60])

In [66]:
# clear() - Removes all elements from the deque
dq.clear()  # deque: []
print("After clear():", dq)

After clear(): deque([])

### Set 集合
set() function in Python is used to create a set, which is an *unordered* collection of unique elements. Sets are *mutable*, meaning elements can be added or removed after creation. However, all elements inside a set must be *immutable*, such as numbers, strings or tuples. The set() function can take an iterable (like a list, tuple or dictionary) as input, removing duplicates automatically. Sets support various operations such as union, intersection and difference, making them useful for mathematical computations and data processing.

In [ ]:
# Create
a = set() # empty
print(a)  
print(type(a))

b = [1, 2, 3, 4, 2, 3, 5]
b1 = set(b)
print(b1)

tup = (1, 2, 3, 4, 2, 3, 5)
c = set(tup)
print(c)

d = set(range(0, 11))  
print(d)

dic = {'a': 1, 'b': 2, 'c': 3}
e = set(dic) # only the keys are stored in the set
print(e)

set()
<class 'set'>
{1, 2, 3, 4, 5}
{1, 2, 3, 4, 5}
{0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10}
{'b', 'c', 'a'}

In [14]:
thisset = {"apple", "banana", "cherry"}

for x in thisset:
  print(x)

apple
banana
cherry

In [15]:
# Check if "banana" is present
thisset = {"apple", "banana", "cherry"}

print("banana" in thisset)
print("banana" not in thisset)

True
False

In [16]:
# Add items
thisset = {"apple", "banana", "cherry"}
thisset.add("orange")
print(thisset)

{'cherry', 'banana', 'apple', 'orange'}

In [18]:
# Add sets (any iterable) - Add elements from tropical into thisset:
thisset = {"apple", "banana", "cherry"}
tropical = {"pineapple", "mango", "papaya"}

thisset.update(tropical)
print(thisset)

mylist = ["kiwi", "orange"]
thisset.update(mylist)
print(thisset)

{'banana', 'cherry', 'papaya', 'pineapple', 'mango', 'apple'}
{'orange', 'banana', 'cherry', 'papaya', 'pineapple', 'mango', 'kiwi', 'apple'}

In [ ]:
# Remove Item
thisset = {"apple", "banana", "cherry"}

thisset.remove("banana")
print(thisset)

thisset.discard("banana") # not error if item to remove does not exist
print(thisset)

# Remove a random item
thisset1 = {"apple", "banana", "cherry"}
x = thisset1.pop()
print(x)
print(thisset1)

thisset.clear()
print(thisset)

{'cherry', 'apple'}
{'cherry', 'apple'}
cherry
{'banana', 'apple'}

In [23]:
# Union
set1 = {"a", "b", "c"}
set2 = {1, 2, 3}

set3 = set1.union(set2)
set4 = set1 | set2
print(set3)
print(set4)

set3 = {"John", "Elena"}
set4 = {"apple", "bananas", "cherry"}

myset = set1.union(set2, set3, set4)
print(myset)

{'b', 1, 2, 3, 'c', 'a'}
{'b', 1, 2, 3, 'c', 'a'}
{'b', 1, 2, 3, 'cherry', 'John', 'bananas', 'Elena', 'c', 'apple', 'a'}

In [ ]:
# update() changes the original set, and does not return a new set.
set1 = {"a", "b" , "c"}
set2 = {1, 2, 3}

set1.update(set2)
print(set1)

In [ ]:
# intersection() method will return a new set, 
# that only contains the items that are present in both sets.
set1 = {"apple", "banana", "cherry"}
set2 = {"google", "microsoft", "apple"}

set3 = set1.intersection(set2)
print(set3)

In [24]:
# Difference
set1 = {"apple", "banana", "cherry"}
set2 = {"google", "microsoft", "apple"}

set3 = set1.difference(set2)

print(set3)

{'banana', 'cherry'}

In [ ]:
set1 = {"apple", "banana", "cherry"}
set2 = {"google", "microsoft", "apple"}

set3 = set1 - set2
print(set3)
# The - operator only allows you to join sets with sets,
# and not with other data types like you can with the difference() method.

{'banana', 'cherry'}

In [ ]:
# difference_update()
set1 = {"apple", "banana", "cherry"}
set2 = {"google", "microsoft", "apple"}

set1.difference_update(set2)

print(set1)

add()	 	Adds an element to the set  
clear()	 	Removes all the elements from the set  
copy()	 	Returns a copy of the set  
difference()	-	Returns a set containing the difference between two or more sets  
difference_update()	-=	Removes the items in this set that are also included in another, specified set  
discard()	 	Remove the specified item  
intersection()	&	Returns a set, that is the intersection of two other sets  
intersection_update()	&=	Removes the items in this set that are not present in other, specified set(s)  
isdisjoint()	 	Returns whether two sets have a intersection or not  
issubset()	<=	Returns True if all items of this set is present in another set  
 	<	Returns True if all items of this set is present in another, larger set  
issuperset()	>=	Returns True if all items of another set is present in this set  
 	>	Returns True if all items of another, smaller set is present in this set  
pop()	 	Removes an element from the set  
remove()	 	Removes the specified element  
symmetric_difference()	^	Returns a set with the symmetric differences of two sets  
symmetric_difference_update()	^=	Inserts the symmetric differences from this set and another  
union()	|	Return a set containing the union of sets  
update()	|=	Update the set with the union of this set and others

### Tuple 
Unlike Python lists, tuples are immutable.

In [5]:
tup = (1, 2, 3, 4, 5)

# tuples are indexed
print(tup[1])
print(tup[4])

# tuples contain duplicate elements
tup = (1, 2, 3, 4, 2, 3)
print(tup)

# cannot updating an element
# tup[1] = 100

2
5
(1, 2, 3, 4, 2, 3)

In [6]:
# Traverse through each item in the tuple
tup = (1, 2, 3, 4, 5)

for x in tup:
    print(x, end=" ")

1 2 3 4 5

In [7]:
# Concatenating above two
tup1 = (0, 1, 2, 3)
tup2 = ('python', 'geek')

print(tup1 + tup2)

(0, 1, 2, 3, 'python', 'geek')

In [8]:
# Nested tuples - a tuple inside another tuple.
tup1 = (0, 1, 2, 3)
tup2 = ('python', 'geek')

tup3 = (tup1, tup2)
print(tup3)

((0, 1, 2, 3), ('python', 'geek'))

In [9]:
# Repetition
tup = ('python',)*3
print(tup)

('python', 'python', 'python')

In [10]:
# Slicing
tup = (0 ,1, 2, 3)

print(tup[1:])
print(tup[::-1])
print(tup[2:4])

(1, 2, 3)
(3, 2, 1, 0)
(2, 3)

In [ ]:
# Different datatypes
tup = ("immutable", True, 23)
print(tup)

In [ ]:
# Converting a list and a string into a tuple
a = [0, 1, 2]
tup = tuple(a)

print(tup)

In [12]:
# Single-element tuple
tup = (10, ) # Comma is important here
print(tup)  # Output: (10,)
print(type(tup))

# What if we do not use comma
tup = (10) # This an integer (not a tuple)
print(tup)  
print(type(tup))

(10,)
<class 'tuple'>
10
<class 'int'>

In [ ]:
# Loop
tup = ('gfg',)

# Number of time loop runs
n = 5 
for i in range(int(n)):
    tup = (tup,)
    print(tup)

(('gfg',),)
((('gfg',),),)
(((('gfg',),),),)
((((('gfg',),),),),)
(((((('gfg',),),),),),)

index( )	Find in the tuple and returns the index of the given value where it's available  
count( )	Returns the frequency of occurrence of a specified value  
all()	Returns true if all element are true or if tuple is empty  
any()	return true if any element of the tuple is true. if tuple is empty, return false  
len()	Returns length of the tuple or size of the tuple  
enumerate()	Returns enumerate object of tuple  
max()	return maximum element of given tuple  
min()	return minimum element of given tuple  
sum()	Sums up the numbers in the tuple  
sorted()	input elements in the tuple and return a new sorted list  
tuple()	Convert an iterable to a tuple.

### 其他库

#### import copy

In [ ]:
# 深拷贝（改原数组值不影响现有值）
import copy
arr = [0, 1]
deepcp = copy.deepcopy(arr)
arr[0] = 5
deepcp

[0, 1]

#### all ()

In [ ]:
# Check if all items in a list are True:
mylist = [True, True, True]
x = all(mylist)
print(x)

# Check if all items in a dictionary are True:

mydict = {0 : "Apple", 1 : "Orange"}
y = all(mydict) # 迭代key，0-False, 1-True
z = all(mydict.values())
print(y)
print(z)

True
True
True